nav {
  margin-top: 30px;
  color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-nav>li>a {
  padding-top: 10px;
   padding-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: #FF8264;
    background-color: #FF8264;
}

.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: #FF8264;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 3px;
}
